@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-feature-settings: 'palt';
  font-family: 'Helvetica Neue', Arial, 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', '游ゴシック', 'Yu Gothic',
    YuGothic, Osaka, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS P Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
